language: php

before_script:
  - ./tests/install-php-extension.sh
  - composer update --dev
  - mysql -e 'create database `phalcon-incubator_testing`;'
  - mysql -u root `phalcon-incubator_testing` < tests/Phalcon/Test/Pdo/_files/guestbook.sql'
  - sed -i "s/{{DB_NAME}}/phalcon-incubator_testing/" tests/db.mysql.config.dist.php
  - sed -i "s/{{DB_HOST}}/127.0.0.1/" tests/db.mysql.config.dist.php
  - sed -i "s/{{DB_PASSWORD}}//" tests/db.mysql.config.dist.php
  - sed -i "s/{{DB_USERNAME}}/root/" tests/db.mysql.config.dist.php
  - mv tests/db.mysql.config.dist.php tests/db.mysql.config.php

php:
  - 5.3
  - 5.4
  - 5.5

script:
  - php vendor/bin/phpcs --standard=PSR2 --encoding=utf-8 Library/
  - phpunit --configuration tests/phpunit.xml.dist
